.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 10rem;
}

.user {
  background: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px rgba(8, 7, 16, 0.6);
  backdrop-filter: blur(10px);
  padding: 2rem 2rem;
  border-radius: 10px;
  text-align: center;
  height: 100vh;
}

.user button {
  background-color: #080710;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.user a {
  margin-left: 0.5rem;
  font-size: 17px;
}

.current_user {
  margin-bottom: 2rem;
}

.users {
  background: #080710;
  overflow-y: scroll;
}

.container {
  background: #fff;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;  
}
